<h2>このシステムについて</h2>
<p>このシステムは誰でも使えるようにしているわけではありませんので、ごにょごにょ</p>
<h2>このシステムの開発について</h2>
<p>このシステムは下記の技術/ツール/サービスを使って作っています</p>
<ul>
    <li><a ng-href="https://angularjs.org/">AngularJS — Superheroic JavaScript MVW Framework</a>(JavaScriptのフレームワーク)</li>
    <li><a ng-href="http://yeoman.io/">The web's scaffolding tool for modern webapps | Yeoman</a>(Webアプリの雛形を作る奴)</li>
    <li><a ng-href="http://coffeescript.org/">CoffeeScript</a>(JavaScriptを書き易くした奴)</li>
    <li><a ng-href="https://github.com/">GitHub</a>(コードホスティング/バージョン管理)</li>
    <li><a ng-href="https://www.visualstudio.com/ja-jp/products/code-vs.aspx">Microsoft Visual Studio Code</a>(エディタ)</li>
    <li><a ng-href="https://aws.amazon.com/jp/">クラウドコンピューティング なら アマゾン ウェブ サービス（AWS）</a>(Webサーバーとかいろいろ)</li>
</ul>