<div ng-controller="ExamCtrl">
    <p>This is the examlist({{params}}) view.</p>
    <div ng-show="q0">
        <p>この試験は{{params}}の試験です。全部で{{count}}問あります。</p>
        <button ng-click="show(1)">試験を開始する</button>
    </div>
    <div ng-repeat="q in exam" ng-show="{{'q' + ($index + 1)}}">
        <h2>問{{$index + 1}}: {{q.question}}</h2>
        <div ng-switch on="q.view">
            <div ng-switch-when="text">
                <p>直接入力</p>
                <input type="text" ng-model="answer[q.id]" id="{{a}}">
            </div>
            <div ng-switch-when="radio">
                <p>{{q.answers}}個選択({{q.view}})</p>
                <label ng-repeat="a in q.choice" style="display: block">
                    <input type="radio" ng-model="answer[q.id]" id="{{a}}" ng-value="a"> {{a}}
                </label>
            </div>
            <div ng-switch-when="checkbox">
                <p>{{q.answers}}個選択({{q.view}})</p>
                <div ng-repeat="a in q.choice">
                    <label style="display: block">
                        <input type="checkbox" ng-model="answer[q.id][$index]" ng-true-value="'{{a}}'"> {{a}}
                    </label>
                </div>
            </div>
            <p>choice is {{answer[q.id]}}</p>
            <button ng-click="show($index)">前の問題へ</button>
            <button ng-click="show(100000)"> 問題一覧へ </button>
            <button ng-click="show($index + 2)">次の問題へ</button>
        </div>
    </div>
    <div ng-show="q100000">
        <p>問題一覧です。問題をクリックするとその問題のフォームにジャンプします。試験終了でよろしければ「点数を確認する」ボタンを押して採点してください。
        <ol>
            <li ng-repeat="q in exam"><a ng-click="show($index + 1)">{{q.question}}</a></li>
        </ol>
        <button ng-click="checkExam()" id="checkExam" onClick="disabled = true;">点数を確認する</button>
    </div>
    <div ng-show="result">
            <p>点数は{{score}}点です</p>
            <a ng-href="#/list/">もう一度試験を行なう</a>  
    </div>
</div>
